.root {
}

.label {
    -fx-font-weight: bold;
    -fx-font: 24 arial;
}

.small-label {
    -fx-font-weight: bold;
    -fx-font: 16 arial;
}

.custom-menu-button {
    -fx-background-color: blue;
    -fx-font: 16 arial;
    -fx-text-fill: white;
    -fx-border: none;
}

.custom-menu-button:hover {
    -fx-background-color: lightblue;
}

.verify-ok {
    -fx-font-weight: bold;
    -fx-font: 16 arial;
    -fx-text-fill: green;
}

.verify-bad {
    -fx-font-weight: bold;
    -fx-font: 16 arial;
    -fx-text-fill: red;
}